{% extends "base.html" %}

{% block content %}
<div class="row">
	<h2>Bugs</h2>
	<br />
	{% if bug_list %}
		<table class="table">
			<tr>
				<th>&nbsp;</th>
				<th>Name</th>
				<th>Price</th>
			</tr>
			{% for bug in bug_list %}
				<tr>
					<td><a href="/bugs/{{bug.id}}/" class="btn btn-primary btn-xs">View</a></td>
					<td>{{bug.name}}</td>
					<td>{{bug.price}}</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
</div>	
{% endblock %}

{% block page_scripts %}

{% endblock %}

{% block page_styles %}

{% endblock %}